@use "../abstracts/index.scss" as *;


html{
    box-sizing: border-box;
    font-size: 62.5%; 

    @include respond(tab-land){
        font-size: 56.25%; //1rem = 8px, 9/16 = 50%
    }

    @include respond(tab-port){
        font-size: 50%; //1rem = 8px, 8/16 = 50%
    }

    @include respond(big-desktop){
        font-size: 75%; //1rem = 8px, 9/16 = 50%
    }
}

*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}


body{  
    box-sizing: border-box;
    padding: 0;
}

html, body{
    height: 100%;
}


#root, .App{
    height: 100%;
}

.wholescreen{
    width: 100%;
    height: 100%;
}

.wholescreen-flex{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    &__container{
        width: min(100vw, 50rem);
    }
}


.button{
    cursor: pointer;
    border: none;
    display: block;
    text-decoration: none;
    text-align: center;


    &--action{
        background: green;
        color: #fff;
        font-size: 2rem;
        letter-spacing: .1rem;
        border-radius: .5rem;
        padding: .5rem .5rem
    }

    &--center{
        width: 80%;
        margin: 0 auto;
        margin-top: 3rem;
    }

}