.hero-card{
  
    box-shadow: 0 .2rem .5rem rgba(0,0,0,.5);
    border-radius: .5rem;
    background: #fff;

    &__title{
        font-size: 3rem;
        
        text-align: center;
        padding: 1.4rem 0;
        margin-bottom: .5rem;
        color: #fff;
       
        font-weight: 100;
        letter-spacing: .5rem;
        background: #333;
       
    
      
        margin-bottom: .5rem;
        border-top-left-radius: .5rem;
        border-top-right-radius: .5rem;
    }

    &__section{
        
        padding: 3rem;
     
        margin-top: 2rem;

        font-size: 1.2rem;
        padding-top: 2rem; 

        &--border{
            border-top: 1px solid #aaa;
        }
    }


}
