@use "../abstracts/" as *;

.back-to-boards-overview-link{

    width: 3rem;
    height: 3rem;
    border: 2px solid #333;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s;

    @include respond(tab-port){
        width: 4rem;
        height: 4rem;
    }

    &:hover, &:active{
        background: #ddd;
    }

    svg{
        width: 2rem;
        height: 2rem;
        color: #333;
        @include respond(tab-port){
            width: 2.2rem;
            height: 2.2rem;
        }

    }
}

.edit-board-title-container{
    display: flex;
    align-items: center;

    & button{
        margin-right: 1rem;

        @include respond(tab-port){
            width: 100%;
            margin-bottom: 1rem;
        }
    }

    @include respond(tab-port){
        flex-direction: column;
        align-items: stretch;
    }
}

.edit-board-body {

    &__save{
        padding-bottom: .5rem;
        border-bottom: 1px solid #ccc;

        & .form-message-display{
            width: 80%;
            margin: 1rem auto
        }
    }
}

.board-edit-controlls{
    position: absolute;
    display: flex;
    top: 1rem;
    right: 4rem;

    @include respond(tab-port){
        top: 2rem;
        right: 2rem
    }

    & > * {
        margin-left: 1rem;
    }
}

.share-board-icon{

    width: 3rem;
    height: 3rem;
    border: 2px solid #333;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s;
    cursor: pointer;

    
    @include respond(tab-port){
        width: 4rem;
        height: 4rem
    }

    &:hover, &:active{
        background: #ddd;
    }

    svg{
        width: 1.6rem;
        height: 1.6rem;
        color: #333;

        @include respond(tab-port){
            width: 2rem;
            height: 2rem
        }
    }
}