

.edit-board-title-container{
    display: flex;
        align-items: center;

        & button{
            margin-right: 1rem;
        }
}

.edit-board-body {

    &__save{
        padding-bottom: .5rem;
        border-bottom: 1px solid #ccc;

        & .form-message-display{
            width: 80%;
            margin: 1rem auto
        }
    }
}