@use "../abstracts/" as *;

.board-preview{
    display: flex;
    flex-direction: column;
   
    border-radius: .5rem;
    padding: .5rem;
    text-decoration: none;
    background:rgb(219, 196, 196);
    box-shadow: 0 .2rem .3rem rgba(0,0,0,.5);
    color: #333;
    

    &__title{
        font-size: 1.4rem;
       text-align: center;
        flex: 1;
        padding: .5rem 0;
        background: #333;
        color: #fff;

        @include respond(tab-port){
            font-size: 1.6rem;
            padding: .8rem 0;
        }
    }

    &__buttons{
        display: flex;
        width: 100%;

        @include respond(phone){
            flex-direction: column;
        }
    }



    &__feature-img{
        height: 10rem;
        object-fit: cover;
        background-repeat: no-repeat;
        background-size: cover;
    }

    &__btn{
        display: block;
        background: transparent;
        padding: .5rem .5rem;
        color: #333;
        border: none;
        cursor: pointer;
        font-size: 1.2rem;
        width: 100%;
     
        border-left: 1px solid #bbb;
        border-bottom: 1px solid #bbb;
        transition: all .5s;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;

        @include respond(phone){
            font-size: 1.6rem;
            padding: .8rem 0;
        }

        svg{
            margin-right: .3rem;
        }

        &:hover{
            box-shadow: inset .1rem 0rem .2rem rgba(0,0,0,.2);
            background: #cacaca;
        }

        &:active{
            background: rgb(144, 128, 187);
            color: #fff;
        }
    }

    &__edit-btn{

    }

    &__play-btn{

        border-right: 1px solid #bbb;

        
    }
}