.boards-list{

    padding: 2rem;

    &__items{
        flex-direction: column;
        gap: 2rem;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }

    & .form-message-display{
        animation: fadeIn .6s;
    }
}

@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}