

.edit-person-btn{
    width: 100%;
    display: block;
    padding: .8rem;
    border: none;
    background: green;
    color: #fff;
    margin: 0 auto;
    margin-top: 2rem;
    font-size: 1.4rem;
    cursor: pointer;
    box-shadow: 0 .3rem .5rem rgba(0,0,0,.5);
    border-radius: .5rem;
    margin: 2rem 0;
}

.person-overlay{
    background: #fff;
    width: min(100%,800px);
    position: relative;

    &__buttons{
        display: flex;

        & > * {
            margin-right: 1rem;
        }
    }
}

