

.edit-person-btn{
    width: 100%;
    display: block;
    padding: .8rem;
    border: none;
    background: green;
    color: #fff;
    margin: 0 auto;
    margin-top: 2rem;
    font-size: 1.4rem;
    cursor: pointer;
    box-shadow: 0 .3rem .5rem rgba(0,0,0,.5);
    border-radius: .5rem;
    margin: 2rem 0;
}

.person-overlay{
    background: #fff;
    padding: 1rem;
    width: min(100%,800px);
    position: relative;

    &__buttons{
        display: flex;

    }

    &__close{
       position: absolute;
       padding: 1rem;
       display: flex;
       justify-content: center;
       align-items: center;
       top: -1rem;
       right: -1rem;
       background: #ddd;
       border-radius: 50%;
       box-shadow: 0 .2rem .5rem rgba(0,0,0,.5);
       cursor: pointer;

        &:hover{
            box-shadow: 0 .2rem .3rem rgba(0,0,0,.5);
        }

        &:active{
            box-shadow: none;
        }
    }

    &__button{
        margin-right: 1rem;
        font-size: 1.4rem;
        color: #fff;
        background-color: green;
        cursor: pointer;
        padding: .5rem 2rem;
        border: none;
        display: block;

        disabled{
            opacity: .8;
            cursor: not-allowed;
        }
    }
}

.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
    z-index: 500;
    display: flex;
    justify-content: center;
    align-items: center;

  
    &--hidden{
        display: none;
    }

    &__container{

    }
}
