@use "../abstracts/" as *;

.form-message-display{
    width: 100%;
    min-height: 2.6rem;
    padding: .3rem;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .9rem;

    
    @include respond(tab-port){
        min-height: 4rem;
        padding: .5rem;
        font-size: 1.2rem;
    }


    &__hidden{
        visibility: hidden;
    }

    &__error{
        background: rgb(248, 142, 142);
        color: #333;
    }

    &__warning{
        background: #fcf288;
    }

    &__info{
        background: rgb(158, 158, 231);
    }

    &__success{
        background: green;
        color: #fff;
    }
}