.form-message-display{
    width: 100%;
    min-height: 2.6rem;
    padding: .3rem;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .9rem;
    margin-bottom: 1.5rem;
    margin-top: -1.5rem;

    &__hidden{
        visibility: hidden;
    }

    &__error{
        background: rgb(248, 142, 142);
        color: #333;
    }

    &__warning{
        background: #fcf288;
    }

    &__info{
        background: blue;
    }

    &__success{
        background: green;
        color: #fff;
    }
}