@use "../abstracts/" as *;


.form-input{
    display: flex;
 
    position: relative;
    padding: 1.6rem .3rem;
 
    width: 100%;
    margin: .3rem 0;

    &--error &__input{
        background: rgb(250, 182, 182);
        border-bottom: 1px solid red;
    }     
    



    &__input{
        width: 100%;
        padding: .8rem .5rem;
        font-size: 1.3rem;
        border: none;
        border-bottom: 1px solid #ccc;
        background: #eee;
        border-radius: .3rem;

        @include respond(tab-port){
            font-size: 1.6rem;
            padding: 1rem .6rem;
        }
 
    }

    &__label{
        font-size: 1.3rem;
        color: #666;
        position: absolute;
        left: .8rem;
        top: 50%;
        transform: translateY(-50%);
        transition: .3s;

        @include respond(tab-port){
            font-size: 1.6rem;
          
        }
    }


    &__input:focus + &__label{
        top: -3px;
        transform: translateY(0);
        color: #000;
    }

    &__input:not([value=""]) + &__label{
        top: -3px;
        transform: translateY(0);
        color: #000;
    }

    &__error{
        position: absolute;
        color: red;
        bottom: 0;
        left: .5rem;
        font-size: 1rem;

        @include respond(tab-port){
            font-size: 1.2rem;
        }
    }
}
