.header{
    background: rgb(117,161,226);
    background: linear-gradient(0deg, rgba(47,54,65,1) 0%, rgba(42,37,45,1) 26%, rgba(16,7,28,1) 78%);
    padding: .8rem 0;
    color: #fff;

    &__content{
        margin: 0 auto;
      
        padding: 0 10vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
      
    }

    &__title{
        font-size: 2rem;
        letter-spacing: .1rem;
       
    

        a{
            text-decoration: none;
            color: #fff;
        }
    }

    &__link{
        color: #fff;
        text-decoration: none;
        display: block;
        padding: .5rem .8rem;
        font-size: 1.6rem;
        cursor: pointer;
        border: none;
        background: none;

    }

    &__navigation{
        display: flex;
    }
}