.header{
    background: #333;
    padding: .8rem 0;
    color: #fff;

    &__content{
        margin: 0 auto;
      
        padding: 0 10vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
      
    }

    &__title{
        font-size: 2rem;
        letter-spacing: .1rem;
    

        a{
            text-decoration: none;
        }
    }

    &__link{
        color: #fff;
        text-decoration: none;
        display: block;
        padding: .5rem .8rem;
        font-size: 1.6rem;
        cursor: pointer;
        border: none;
        background: none;

    }

    &__navigation{
        display: flex;
    }
}