@use "../abstracts/" as *;

.header{
    background: rgb(117,161,226);
    background: linear-gradient(0deg, rgba(47,54,65,1) 0%, rgba(42,37,45,1) 26%, rgba(16,7,28,1) 78%);
    padding: .8rem 0;
    color: #fff;
    position: fixed;
    width: 100%;
    z-index: 50;

    @include respond(tab-port){
        padding: 1.4rem 0;
    }

    &__content{
        margin: 0 auto;
      
        padding: 0 10vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
      
    }

    &__title{
        font-size: 2rem;
        letter-spacing: .1rem;
       
    

        a{
            text-decoration: none;
            color: #fff;
        }

        @include respond(tab-port){
            font-size: 2.6rem;
        }
    }

    &__navigation--open &__links{
        @include respond(tab-port){        
            clip-path: circle(2000px at 90% -5%);
        }
    }

    &__links{
        display: flex;
        align-items: center;

        z-index: 20;
       

        @include respond(tab-port){   
            position: fixed;
            background: rgb(117,161,226);
            background: linear-gradient(0deg, rgba(47,54,65,1) 0%, rgba(42,37,45,1) 26%, rgba(16,7,28,1) 78%);
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transition: clip-path .5s ease-out;     
            flex-direction: column;
            align-items: center;
            justify-content: center;
            clip-path: circle(50px at 90% -5%);
        
        }
    }

    &__link{
        color: #fff;
        text-decoration: none;
        display: block;
        padding: .5rem .8rem;
        font-size: 1.6rem;
        cursor: pointer;
        border: none;
        background: none;

        @include respond(tab-port){   
          font-size: 3.6rem;
          width: 80%;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 2.4rem 0;
          transition: all .5s;
          transition-delay: .2s;
          transform: translate(200px, 0);
        

          border-bottom: 1px solid #888;

          &__active{
              background: #888;
          }
        }

        @include respond(phone){
            transform: translate(100px, 0);
        }

    }

    &__navigation--open  &__link{
        transform: translate(0, 0);
    }

    

    &__navigation{
        display: flex;
    }

    &__menu-btn{
        display: none;
        background: #fff;
        border: none;
        cursor: pointer;
        z-index: 50;
        width: 5rem;
        height: 5rem;
        position: relative;
       
        padding: 1.4rem;
        border-radius: 50%;
        outline: none;


        &:hover{
            background: #eee;
        }
        
        @include respond(tab-port){        
            display: block;
            
            background: #eee;
           
            background-blend-mode: darken, luminosity;
            box-shadow: inset 0 .1rem .3rem rgba(255,255,255,.3);
            
        }
    }

    &__btn-bars{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__btn-bar{
        width: 2.6rem;
        height: 4px;
        border-radius: 2px;
        background: #333;
        display: flex;
        position: absolute;
        top: 50%;
        left: 50%;
        transition: all .3s;
   
        
      
        transform-origin: center center;

        &--1{
            transform: translate(-50%, calc(-50% - 8px));
        }

        &--2{
            transform: translate(-50%, -50%);
        }

        &--3{
            transform: translate(-50%, calc(-50% + 8px));
        }
    }

    &__navigation--open &__btn-bar--1{
        transform: translate(-50%, -50%) rotate(45deg);
    }


    &__navigation--open &__btn-bar--2{
        opacity: 0;
    }

    &__navigation--open &__btn-bar--3{
        transform: translate(-50%, -50%) rotate(-45deg);
    }

   
}
