.image-selector{
    position: relative;
    margin: 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;

    &--error{}


    img{
        max-height: 60vh;
        max-width: 100%;
    }


    &__input-label{
        min-height: 300px;
        width: 100%;
        background: #eee;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    &--error &__input-label{
        background: #fab6b6;
    }

    & .form-input__error{
        top: calc(100% + 5px);
    }

    &__input{
        display: none;
    }
}