@use "../abstracts/" as *;


.page-title-section{
    padding: 1rem 2rem;
    position: relative;

  
    @include respond(tab-port){
        padding: 2rem !important;
    }

    &__title{
        margin-bottom: 1rem;
        margin-top: 1rem;
        text-transform: capitalize;

        @include respond(tab-port){
            margin-bottom: 1.6rem;
            margin-top: 1.6rem;
        }
    }

    &__body{

    }
}