.people-card{
    position: relative;
   
    border-radius: .3rem;
  
    background: rgb(121, 120, 192);
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    display: flex;
    flex-direction: column;
  
    aspect-ratio: 1;
    
 

    position: relative;

    &--selected{
        border: 3px solid green;
    }

    &:hover &__overlay{
        opacity: 1;
    }

    &__overlay{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(34, 8, 8, 0.8);
        border-radius: .3rem;

        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        opacity: 0;
        transition: .3s all;
    }

    &__options{
        position: absolute;

        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
       
     
    }



    &__options-btn{
        
        position: absolute;
        border-radius: 50%;
        padding: 1rem;
        background: rgba(221, 221, 221, .9);
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0 .2rem .3rem rgba(0,0,0,.8);
        cursor: pointer;
        z-index: 5;
        right: -1rem;
        top: -1rem;

        &--hidden{
            display: none;
        }
    }

    &__option-items{
        position: absolute;
        top: 1rem;
        right: 1rem;
        width: 80%;
        padding: 2rem .5rem;
       
        background: #fff;
        border-radius: .3rem;
        box-shadow: 0 .2rem .3rem rgba(0,0,0,.2);
   
        z-index: 3;
        opacity: 0;
        transform-origin: right top;
        transform: translateX(50px) translateY(-50px);
        transition: all .3s ;
        
        &--show{
            opacity: 1;
            transform: translateX(0) translateY(0);
        }

        
    }

    &__option-item{
       
        width: 100%;
        border: none;
        background: #fff;
        padding: .5rem .5rem;
        display: flex;
        border-top: 1px solid #ccc;

        &:last-child{
            border-bottom: 1px solid #ccc;
        }
        
        svg{
            margin-right: 1rem;
        }

        &:hover{
            background: #eee;
            cursor: pointer;
        }

        &:active{
            background: #ddd;
        }
    }

    &__flex-container{
        flex: 1;
       
    }   

    &__img-container{
      
 
        width: 100%;
        aspect-ratio: 3 / 4;
        
        display: flex;
        justify-content: center;
        align-items: center;

        background-size: contain;
        background-repeat: no-repeat;
        background-position-x: center;
        background-position-y: center;
    }

    &__img{
        max-width: 100%;
        max-height: 100%;
    }

    &__name{
        
        background: rgba(0,0,0,.5);
        margin: .5rem  .5rem;
        display: flex;
        align-items: center;
        justify-content: center;
       
        border-radius: .5rem;

        color: #fff;
        text-align: center;
        font-size: 1.3rem;
        padding: .4rem;

        box-shadow: 0 .1rem .3rem rgba(0,0,0,.4);

    }

    &__delete-btn{
        width: 100%;
        font-size: 1.3rem;
        display: block;
        background: red;
        color: #fff;
        cursor: pointer;
        border: none;
        padding: .3rem 0;
    }

    &__edit-btn{
        width: 100%;
        background: blue;
        color: #fff;
        font-size: 1.3rem;
        display: block;
        cursor: pointer;
        border: none;
        padding: .3rem 0;
    }
}